.card {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
}

.card__top {
  display: flex;
  justify-content: space-between;
}

.card__top .img__bg {
  background-size: cover;
  background-position: center;
  width: 50%;
}

.top__content {
  flex-grow: 1;
  padding-left: 1rem;
}

.top__content h1 {
  font-size: 1rem;
}

.top__content p {
  font-size: .85rem;
  opacity: .7;
}

.top__content .fa-star {
  color: #FDB434;
}

.card__middle {
  height: 100px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 1rem 0;
}

.card__bottom {
  display: flex;
}

.card__bottom img:first-child {
  margin-left: 0;
}

.card__bottom img:last-child {
  margin-right: 0;
}

.card__bottom img {
  height: 70px;
  object-fit: cover;
  flex-grow: 1;
  margin: 0 8px;
}
