/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

/* Components */
@import url("components/navbar.css");
@import url("components/avatar.css");

/* Basic Styling */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(245, 245, 245);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.list-inline li {
  display: inline-block;
}

.text-center {
  text-align: center;
}
