/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Components design --- */
@import url("components/navbar.css");

/* --- Fonts & colors --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
}
.text-center {
  text-align: center;
}

.red {
  color: rgb(204, 56, 61);
}

.green {
  color: rgb(26, 71, 42);
}

.blue {
  color: #222F5B;
}

.yellow {
  color: #FFDB00;
}

.img-circle {
  border-radius: 50%;
  transition: .2s
}
